div.fancy-select {
	position: relative;
	font-size: 14px;
    text-align: left;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select div.trigger {
	cursor: pointer;
	padding: 11px 24px 11px 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	background: #F4F4F4;
	color: #c84d26;

    transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;

    background-image: url('/images/oft2/icon_arrow_orange_down.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
}
div.fancy-select div.trigger.open {
    background: #e8e8e8;
    background-image: url('/images/oft2/icon_arrow_orange_up.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
}

div.fancy-select ul.options {
    list-style: none;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 38px;
    left: -1px;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    overflow: auto;
    max-height: 400px;
    background: #F4F4F4;

    min-width: 177px;
    width: 100%;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;

	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
}

div.fancy-select ul.options.overflowing.open {
}

div.fancy-select ul.options li {
	padding: 11px 12px;
    color: #c84d26;
	cursor: pointer;
	white-space: nowrap;
    border-top: 1px solid #fff;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected, div.fancy-select ul.options li.hover {
	background: #e8e8e8;
}
