BODY {
	MARGIN-TOP:                    0px;
	MARGIN-BOTTOM:                 0px;
	MARGIN-LEFT:                   0px;
	MARGIN-RIGHT:                  0px;
	COLOR:                         #310152;
        FONT-FAMILY:                   Verdana;
        font-size:                     9px;
        BACKGROUND:                    #FFFFFF no-repeat scroll 0px 0px;
        overflow:                      auto;
	SCROLLBAR-SHADOW-COLOR:        #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR:       #FFFFFF;
        SCROLLBAR-ARROW-COLOR:         #f51361;
        SCROLLBAR-TRACK-COLOR:         #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:    #FFFFFF;
        SCROLLBAR-BASE-COLOR:          #d8dadc;
}

.textclass50Pers {
        WIDTH:                         100%;
        HEIGHT:                        50%;
	COLOR:                         #1c3b67;
}


.button {
	COLOR:                         #FFFFFF;
        BACKGROUND-COLOR:              #33075B;
	HEIGHT:                        19px;
        WIDTH:                         50px;
        FONT-SIZE:                     9px;
        FONT-FAMILY:                   Verdana; 
        CURSOR:                        hand;
}
.button2 {
	COLOR:                         #33075B;
        BACKGROUND-COLOR:              #F9F8F8;
	HEIGHT:                        19px;
        FONT-SIZE:                     9px;
        border-collapse:               collapse;
        BORDER:                        1px solid;
        BORDER-COLOR:                  #33075B;
        FONT-FAMILY:                   Verdana; 
        CURSOR:                        hand;
}
.buttonITEMSelected {
	COLOR:                        #33075B;
        BACKGROUND-COLOR:             #F9F8F8;
	HEIGHT:                       19px;
        FONT-SIZE:                    10px;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-bottom:                2px solid;
        BORDER-COLOR:                 #33075B;
        FONT-FAMILY:                  Verdana,arial,sans-serif;
        CURSOR:                       hand;
        text-align:                   left;
        padding:                      0px 5px 0px 5px;
        font-weight:                  bold;
        width:                        100%;
}
.buttonITEMSelectedDESC {
	COLOR:                        #F9F8F8;
        BACKGROUND-COLOR:             #33075B;
	HEIGHT:                       19px;
        FONT-SIZE:                    9px;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
        FONT-FAMILY:                  Verdana,arial,sans-serif;
        CURSOR:                       hand;
        text-align:                   left;
        font-weight:                  bold;
        padding:                      0px 5px 0px 5px;
        width:                        100%;
}
.buttonITEMnormaal {
	COLOR:                        #F9F8F8;
        BACKGROUND-COLOR:             #33075B;
	HEIGHT:                       19px;
        FONT-SIZE:                    9px;
        border-collapse:              collapse;
        BORDER:                       1px solid #F9F8F8;
        FONT-FAMILY:                  Verdana,arial,sans-serif;
        CURSOR:                       hand;
        text-align:                   left;
        font-weight:                  none;
        padding:                      0px 5px 0px 5px;
        width:                        100%;
}
.buttongroot  {
        color:                        #33075B;
        font-size:                    9pt;
        width:                        125px;
        height:                       30px;
        FONT-FAMILY:                  Verdana;
        CURSOR:                       hand;
}

.butlinx {
	COLOR:                        #FFFFFF;
        BACKGROUND-COLOR:             #000066;
	HEIGHT:                       19px;
        WIDTH:                        125px;
        FONT-SIZE:                    6px;
        FONT-FAMILY:                  Verdana;
        CURSOR:                       hand;
}

.field {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
       	WIDTH:                        150px;
        HEIGHT:                       17px;
        font-size:                    8pt;
}

.fieldNieuweNot {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
       	WIDTH:                        125px;
        HEIGHT:                       17px;
        font-size:                    8pt;
        color:                        #a0a0a0;
}

.fieldhalf {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
       	WIDTH:                        73px;
        HEIGHT:                       17px;
        font-size:                    8pt;
}
.textbox {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
        WIDTH:                        150px;
        HEIGHT:                       100px;
        font-size:                    9pt;
}
.textbox200 {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
        WIDTH:                        200px;
        HEIGHT:                       50px;
        font-size:                    9pt;
}
.textboxGroot {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
        WIDTH:                        300px;
        HEIGHT:                       100px;
        font-size:                    9pt;
}

.field4 {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
      	WIDTH:                        37px;
        HEIGHT:                       17px;
        font-size:                    8pt;
}
.field5 {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
      	WIDTH:                        25px;
        HEIGHT:                       17px;
        font-size:                    8pt;
}
.field3 {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
      	WIDTH:                        50px;
        HEIGHT:                       17px;
        font-size:                    8pt;
}

.kleinLettertype {
        font-size:                    6.5pt;
}

.tekstvak {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
	WIDTH:                        90%;
        HEIGHT:                       50px;
        font-size:                    9pt;
}

.fieldset {
	background:                   #F0F0F0 no-repeat scroll 0px 0px;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	WIDTH:                        100%;
	padding:                      0px 5px 5px 5px;
}

.legend {
	background:                   #FFFFFF no-repeat scroll 0px 0px;
        border-collapse:              collapse;
        BORDER:                       1px solid;
	padding:                      0px 5px 5px 5px;
        BORDER-COLOR:                 #33075B;
        font-size:                    7pt;
}

/* mail */
.webmailLayout {
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
        BACKGROUND:                   #c4dafa;
}

.topbarMail {
	COLOR:                        #FFFFFF;
	BACKGROUND:                   #757575;
        FONT-SIZE:                    12px;
        font-weight:                  bold;
        height:                       25px;
        FONT-FAMILY:                  Verdana;
}
.emailbalk {
        BACKGROUND:                   URL("../images/emailbalk.jpg") repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        height:                       25px;
        font-weight:                  bold;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #002d96;
}
.textBoom {
	BACKGROUND:                   #FFFFFF;
        WIDTH:                        300px;
        HEIGHT:                       100%;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        overflow:                     scroll;
	SCROLLBAR-SHADOW-COLOR:       #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR:      #FFFFFF;
        SCROLLBAR-ARROW-COLOR:        #f51361;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #FFFFFF;
        SCROLLBAR-BASE-COLOR:         #d8dadc;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #002d96;
}
.textEntries {
	BACKGROUND:                   #FFFFFF;
        WIDTH:                        300px;
        HEIGHT:                       100%;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #002d96;
}
.textMailsVeld {
	padding:                      5 5 5 5;
        BACKGROUND:                   #788091;
        WIDTH:                        700px;
        HEIGHT:                       100%;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #002d96;
}
.textMails {
        BACKGROUND:                   #FFFFFF;
        WIDTH:                        100%;
        HEIGHT:                       100%;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
}
.vakjeMailRegel {
        width:                        20px;
        background:                   #f2f0e4;
}

.mailRegel {
	COLOR:                        #000000;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.overzichtProjects {
        BACKGROUND:                   #FFFFFF;
        WIDTH:                        200px;
        HEIGHT:                       100%;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
}
.overzichtAll {
        BACKGROUND:                   #FFFFFF;
        WIDTH:                        100%;
        HEIGHT:                       100%;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
}
.textProjects {
        BACKGROUND:                   #FFFFFF;
        WIDTH:                        800px;
        HEIGHT:                       100%;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
	COLOR:                        #20033A;
}
.contentclass {
        height:                       100%;
        width:                        100%;
        overflow:                     auto;
	SCROLLBAR-SHADOW-COLOR:       #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR:      #FFFFFF;
        SCROLLBAR-ARROW-COLOR:        #f51361;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #FFFFFF;
        SCROLLBAR-BASE-COLOR:         #d8dadc;
	COLOR:                        #462F03;
	Font-Family:                  Verdana;
	FONT-SIZE:                    9px;
}
.contentclassHeight300 {
        height:                       300px;
        BACKGROUND:                   #dddddd;
        width:                        100%;
        overflow:                     auto;
	SCROLLBAR-SHADOW-COLOR:       #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR:      #FFFFFF;
        SCROLLBAR-ARROW-COLOR:        #f51361;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #FFFFFF;
        SCROLLBAR-BASE-COLOR:         #d8dadc;
	COLOR:                        #462F03;
	Font-Family:                  Verdana;
	FONT-SIZE:                    9px;
}
.EmailAA {
	COLOR:                        #000000;
        width:                        14%;
        FONT-SIZE:                    9px;
        height:                       15px;
        text-align:                   center;
	TEXT-DECORATION:              none;
}
.EmailAA:visited {
	COLOR:                        #000000;
        width:                        14%;
        FONT-SIZE:                    9px;
        height:                       15px;
        text-align:                   center;
	TEXT-DECORATION:              none;
}
.EmailAA:active {
	COLOR:                        #000000;
        width:                        14%;
        FONT-SIZE:                    9px;
        height:                       15px;
        text-align:                   center;
	TEXT-DECORATION:              none;
}
.EmailAA:hover {
	COLOR:                        #000000;
        width:                        14%;
        FONT-SIZE:                    9px;
        height:                       15px;
        text-align:                   center;
	TEXT-DECORATION:              none;
}

.balkKlantWeb {
        BACKGROUND:                   URL("../images/emailbalk.jpg") repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        height:                       25px;
        font-weight:                  bold;
}
.balkKlantWebLink {
        BACKGROUND:                   #1c145a repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        height:                       18px;
        font-weight:                  bold;
        width:                        100%;
        text-align:                   center;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #FFFFFF;
        padding:                       2px 2px 2px 2px;
}
.balkKlantWebLink:Active {
        BACKGROUND:                   #1c145a repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        text-align:                   center;
        height:                       18px;
        font-weight:                  bold;
        width:                        100%;
}
.balkKlantWebLink:hover {
        BACKGROUND:                   #1c145a repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        text-align:                   right;
        height:                       18px;
        font-weight:                  bold;
        width:                        100%;
}
.balkKlantWebLink:visited {
        BACKGROUND:                   #1c145a repeat scroll 0px 0px;
        COLOR:                        #FFFFFF;
        FONT-SIZE:                    12px;
        FONT-FAMILY:                  Verdana;
        text-align:                   center;
        height:                       18px;
        width:                        100%;
        font-weight:                  bold;
}

/* menu */
.menuachtergrond {
	COLOR:                        #20033A;
	BACKGROUND:                   URL(../images/linkerMenuBalk.jpg) #F2F2F2 no-repeat scroll top right;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

.mainmenuachter {
	BACKGROUND:                   URL(../images/index_10.jpg) no-repeat scroll top right;  
}

.menuKleineBeschrijving {
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

.menuPoweredBy {
	COLOR:                        #776F7F;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

.nivoTwee:visited {
	COLOR:                        #414246;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
	TEXT-DECORATION:              none;
}
.nivoTwee:active {
	COLOR:                        #414246;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
	TEXT-DECORATION:              none;
}
.nivoTwee:hover {
	COLOR:                        #707070;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        margin:                       0px 0px 0px 15px;
	TEXT-DECORATION: none;
}
.nivoTwee {
	COLOR:                        #414246;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        margin:                       0px 0px 0px 15px;
	TEXT-DECORATION:              none;
}

.nivoEen:visited {
	COLOR:                        #414246;
        font-weight:                  bold;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        LETTER-SPACING:               3px;
	TEXT-DECORATION:              none;
}
.nivoEen:active {
	COLOR:                        #414246;
        font-weight:                  bold;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        LETTER-SPACING:               3px;
	TEXT-DECORATION:              none;
}
.nivoEen:hover {
	COLOR:                        #707070;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        LETTER-SPACING:               3px;
        font-weight:                  bold;
}
.nivoEen {
	COLOR:                        #414246;
        font-weight:                  bold;
        FONT-FAMILY:                  Verdana;
        FONT-SIZE:                    9px;
        LETTER-SPACING:               3px; 
	TEXT-DECORATION:              none;
}

/* Administratie menu */

.regel1 {
	COLOR:                        #FFFFFF;
        BACKGROUND:                   url(../images/m-hoofd.gif) 0px 0px;;
	HEIGHT:                       25px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
	PADDING-TOP:                  6px;
        PADDING-LEFT:                 15px;
}

.regelOnder {
	COLOR:                        #FFFFFF;
        BACKGROUND:                   url(m-voet.gif) 0px 0px;
	HEIGHT:                       13px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

.regelEven {
	COLOR:                        #000000;
        BACKGROUND:                   URL(m-bg.gif) 0px 0px;;
	HEIGHT:                       19px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;

}

/* menu login */
/* overzichten */

.mainfieldKlein {
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.mainfield {
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.main_grijzebalk {
	COLOR:                        #33075B;
        BACKGROUND-COLOR:             #E5E4E4;
        height:                       20px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.main_grijzebalk_2 {
	COLOR:                        #FFFFFF;
        BACKGROUND-COLOR:             #33075B;
        height:                       20px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

/* invoervelden links recht en toevoer stuk */
.main_regel{
        BORDER-top:                   1px solid;
        BORDER-top-COLOR:             #cac8c6;
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
        text-align:                   right;
        font-weight:                  bold;
        width:                        250px;
        padding:                      0px 10px 0px 0px;
        /*BACKGROUND-COLOR:             #f0f0f0;*/
}
.main_regel_right{
        BORDER-top:                   1px solid;
        BORDER-top-COLOR:             #cac8c6;
        COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
        text-align:                   left;
}
.main_regel_toevoer{
        COLOR:                        #20033A;
        BACKGROUND-color:             #FFFFFF;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
        text-align:                   left;
        width:                        75px;
}

.main_regel_even{
        BACKGROUND-COLOR:             #FAFAFA;
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.main_regel_nivo{
        BACKGROUND-COLOR:             #E0E0E0;
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
        CURSOR:                       hand;
}
.main_regel_vaag {
        BACKGROUND-COLOR:             #FAFAFA;
	COLOR:                        #acacad;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.main_regel_oneven{
        BACKGROUND-COLOR:             #eeeeee;
	COLOR:                        #20033A;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.invAA {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.invAA:visited {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.invAA:active {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.invAA:hover {
	COLOR:                        #FD8807;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}

/* /////////////////// Navigatie menu //////////////////// */
.navigatieMenu {
	COLOR:                        #FFFFFF;
	background:                   #5678a1;
        border:                       #4b5c70 1px solid;
        margin:                       3 3 3 3;
        padding:                      2px 2px 2px 2px;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenu:visited {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenu:active {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenu:hover {
	COLOR:                        #FD8807;
	background:                   #88b7ef;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenuSub {
	COLOR:                        #FFFFFF;
	background:                   #638fc4;
        border:                       #4b5c70 1px solid;
        margin:                       3 3 3 3;
        padding:                      2px 2px 2px 2px;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenuSub:visited {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenuSub:active {
	COLOR:                        #FFFFFF;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}
.navigatieMenuSub:hover {
	COLOR:                        #FD8807;
	background:                   #88b7ef;
        FONT-SIZE:                    8pt;
	TEXT-DECORATION:              none;
}

.AA {
        color:                        #000000;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.AA:visited {
        color:                        #000000;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.AA:active {
        color:                        #000000;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.AA:hover {
        color:                        #5D5B5B;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}

/*A:visited {
	COLOR:                        #310152;
	TEXT-DECORATION:              none;
}*/
A:active {
	COLOR:                        #310152;
	TEXT-DECORATION:              none;
}
A:hover {
	COLOR:                        #FD8807;
	TEXT-DECORATION:              none;
}
A {
	COLOR:                        #310152;
	TEXT-DECORATION:              none;
}
p {
	Font-Family:                  Verdana;
	font-size:                    14px;
	}
H1 {
	FONT-SIZE:                    12pt;
	Font-Family:                  Verdana;
}
H2 {
	FONT-SIZE:                    11pt;
	Font-Family:                  Verdana;
}
H3 {
	FONT-SIZE:                    10pt;
	Font-Family:                  Verdana;
}
H4 {
	FONT-SIZE:                    10pt;
	Font-Family:                  Verdana;
}
H5 {
	FONT-SIZE:                    10pt;
	Font-Family:                  Verdana;
}
H6 {
	FONT-SIZE:                    10pt;
	Font-Family:                  Verdana;
}
.buttonZoek {
	background:                   url(../images/zoeken.gif) no-repeat scroll 1px 1px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;

	WIDTH:                        20px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.buttonBetaald {
	background:                   #ECE9D8;

	WIDTH:                        30px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}

.buttonBewerken {
	background:                   url(../images/bewerken.gif) no-repeat scroll 1px 1px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;
	WIDTH:                        20px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.buttonOk {
	background:                   url(../images/ok.gif) no-repeat scroll 1px 1px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;

	WIDTH:                        20px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.buttonVerwijderen {
	background:                   url(../images/verwijderen.gif) no-repeat scroll 2px 2px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;
	WIDTH:                        20px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.buttonVolgende {
	background:                   url(../images/next2.gif) no-repeat scroll 0px 0px;
	WIDTH:                        20px;
        HEIGHT:                       21px;
        font-size:                    7pt;
}
.buttonVorige {
	background:                   url(../images/previous2.gif) no-repeat scroll 0px 0px;
	WIDTH:                        20px;
        HEIGHT:                       21px;
        font-size:                    7pt;
}

.buttonZoek2 {
	background:                   url(../images/atb_search.gif) no-repeat scroll 0px 0px;
	WIDTH:                        20px;
        HEIGHT:                       21px;
        font-size:                    7pt;
}
.buttonGraph {
	background:                   url(../images/synthgraph.gif) no-repeat scroll 0px 0px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;

	WIDTH:                        20px;
        HEIGHT:                       21px;
        font-size:                    7pt;
}
.buttonNieuw {
	background:                   url(../images/map.gif) no-repeat scroll 1px 0px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;
        WIDTH:                        23px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.buttonPdf {
	background:                   url(../images/pdf2icon.gif) no-repeat scroll 1px 0px;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #979490;
        WIDTH:                        23px;
        HEIGHT:                       18px;
        font-size:                    7pt;
}
.paginas {
        HEIGHT:                       18px;
        font-size:                    8pt;
}

/* standaard pages */

.topBar {
        color:                        #FFFFFF;
	background:                   URL(../images/kopBalk.jpg) no-repeat scroll 0px 0px;
	height:                       20px;
        FONT-SIZE:                    9px;
        FONT-FAMILY:                  Verdana;
}
.regels {
        color:                        #000000;
	background:                   #FFFFFF no-repeat scroll 0px 0px;
        font-size:                    9pt;
        height:                       15px;
}
.subtotaal {
        color:                        #FFFFFF;
	background:                   #808080 no-repeat scroll 0px 0px;
        font-size:                    7pt;
        height:                       15px;
}

.totaal {
        color:                        #FFFFFF;
	background:                   #33075B no-repeat scroll 0px 0px;
        font-size:                    8pt;
        height:                       15px;
}

/*================Windows uiterlijk==========================*/
.windowsFileButtons {
        COLOR:                        #979490;
        font-size:                    7pt;
}
.windowsFileButtonsNorm {
        COLOR:                        #000000;
        font-size:                    8pt;
}
.buttonExplVerwijderen {
	background:                   url(../images/explVerwijderen.jpg) no-repeat scroll 1px 0px;
        BORDER:                       0px solid;
        WIDTH:                        34px;
        HEIGHT:                       39px;
}

.windowsZijkant {
        width:                        170px;
        text-align:                   center;
        BORDER-COLOR:                 #FFFFFF;
        COLOR:                        #4d5fbc;
	background:                   #7698e3 no-repeat scroll 0px 0px;
        font-size:                    9pt;
}
.windowsMenuVakHeader {
        width:                        160px;
        height:                       26px;
        text-align:                   left;
        BORDER:                       0px solid;
        BORDER-COLOR:                 #FFFFFF;
        COLOR:                        #4d5fbc;
        padding:                      5px 0px 0px 3px;
	background:                   URL(../images/windowsheader.jpg) #FFFFFF no-repeat scroll 0px 0px;
        font-size:                    7pt;
}
.windowsMenuVak {
        width:                        160px;
        text-align:                   left;
        BORDER-left:                  2px solid;
        BORDER-right:                 2px solid;
        BORDER-bottom:                2px solid;
        BORDER-COLOR:                 #FFFFFF;
        COLOR:                        #4d5fbc;
        padding:                      5 3 5 3;
	background:                   #d6dff7 no-repeat scroll 0px 0px;
        font-size:                    7pt;
}

/*================Mededelingenscherm======================*/

.fixedVakje {
        height:                       150px;
        width:                        100%;
        padding:                      2px 2px 2px 2px;
        overflow:                     auto;
	SCROLLBAR-SHADOW-COLOR:       #33075B;
        SCROLLBAR-3DLIGHT-COLOR:      #33075B;
        SCROLLBAR-ARROW-COLOR:        #33075B;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #33075B;
        SCROLLBAR-BASE-COLOR:         #33075B;
        text-align:                   left;
	background:                   no-repeat scroll 0px 0px;
        font-size:                    8pt;


}


/*================mobielnr lijst==========================*/

.mobiellijst {
        height:                       100%;
        width:                        350px;
	SCROLLBAR-SHADOW-COLOR:       #33075B;
        SCROLLBAR-3DLIGHT-COLOR:      #33075B;
        SCROLLBAR-ARROW-COLOR:        #33075B;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #33075B;
        SCROLLBAR-BASE-COLOR:         #33075B;
        overflow:                     auto;
        text-align:                   left;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
        font-size:                    9pt;


}
/*================CRM VAKje lijst==========================*/

.crmmogelijkhedenvakje {
        height:                       100%;
        width:                        100%;
        overflow:                     auto;
	SCROLLBAR-SHADOW-COLOR:       #33075B;
        SCROLLBAR-3DLIGHT-COLOR:      #33075B;
        SCROLLBAR-ARROW-COLOR:        #33075B;
        SCROLLBAR-TRACK-COLOR:        #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR:   #33075B;
        SCROLLBAR-BASE-COLOR:         #33075B;
        overflow:                     auto;
        text-align:                   left;
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
        font-size:                    9pt;
}

/*================Agenda==========================*/
.square                   {
        color:              #d1d0d0;
}

    .agendaClass              {   padding:              0px;
                                  margin:             0px;
                                  font:               10px Verdana, Arial;
                                  font-weight:        bold;
                                  background-color:   #FFFFFF;
                                  color:              #0000CC;
                                  line-height:        16px;
                                  border:             solid 1px #000000;
                              }
    td.headerAgenda           {
                                  text-align:         center;
                                  height:             20px;
                                  font:               11px Arial;
                                  background-color:   #e7e7d8;
                                  color:              #000000;
                                  border-bottom:      solid 1px #a7a7a7;
                                  border-left:        solid #FFFFFF 1px;
                                  font-weight:        bold;
                              }
    td.zijkantAgenda          {
                                  background-color:   #c3bbb7;
                                  border-bottom:      solid 1px #a7a7a7;
                              }
    td.agendaVakje            {   width:              140px;
                                  height:             110px;
                                  cursor:             hand;
                                  font:               9px Arial;
                                  font-weight:        normal;
                                  color:              #000000;
                                  border-left:       solid 1px #a7a7a7;
                                  border-bottom:       solid 1px #a7a7a7;
                                  font-weight:        bold;
                              }
    td.agendaLeegVakje        {   width:              140px;
                                  color:              #000000;
                                  background-color:   #d4d4d4;
                                  border-left:       solid 1px #a7a7a7;
                                  border-bottom:      solid 1px #a7a7a7;
                              }
    td.agendaVakjeHeader      {   width:              137px;
                                  padding:            0px;
                                  height:             20px;
                                  cursor:             hand;
                                  margin:             0px;
                                  font:               12px Arial;
                                  font-weight:        bold;
                                  color:              #310152;
                                  background-color:   #c3bbb7;
                              }
    td.agendaVakjeHeaderJaar  {   width:              327px;
                                  padding:            0px;
                                  height:             20px;
                                  cursor:             hand;
                                  margin:             0px;
                                  font:               12px Arial;
                                  font-weight:        bold;
                                  color:              #310152;
                                  background-color:   #c3bbb7;
                              }
    td.agendaVakje            {   width:              327px;
                                  height:             110px;
                                  cursor:             hand;
                                  font:               9px Arial;
                                  font-weight:        normal;
                                  color:              #000000;
                                  border-left:        solid 1px #a7a7a7;
                                  border-bottom:      solid 1px #a7a7a7;
                                  font-weight:        bold;
                              }

    .agendaGenre              { color: #7742a6; font-size: 9px; font-family: Arial }
    .agendaTekst              { color: #000000; font-size: 9px; font-family: Arial }

    .agendaGenreAnder         { color: #b8b8ab; font-size: 9px; font-family: Arial }
    .agendaTekstAnder         { color: #b8b8ab; font-size: 9px; font-family: Arial }

    /*===Dag====*/
    .agenda_regel_even
    {
        BACKGROUND-COLOR: #E1E1E1;
        height:25px;
	COLOR: #4A1779;
        FONT-SIZE:10px;
        FONT-FAMILY: Verdana;
    }

    .agenda_regel_oneven
    {
        BACKGROUND-COLOR: #C4C2C6;
        height:25px;
	COLOR: #4A1779;
        FONT-SIZE:10px;
        FONT-FAMILY: Verdana;
    }

    .textboxAgenda {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #ECDBFB;
	background: no-repeat scroll 0px 0px;
        WIDTH: 300px; HEIGHT: 100px;
        font-size:9pt;
     }

      .kopbalkA {
              color: #FFFFFF;
              background: #33075B no-repeat scroll 0px 0px;
              HEIGHT: 17px;
              FONT-SIZE:10px;
              font-weight: bold;
              FONT-FAMILY: Verdana; 
              CURSOR: hand;
      }

      .kopbalkA:visited {
      	COLOR: #FFFFFF;
      	TEXT-DECORATION: none;
      }
      .kopbalkA:active {
      	COLOR: #FFFFFF;
      	TEXT-DECORATION: none;
      }
      .kopbalkA:hover {
      	COLOR: #FD8807;
              font-weight: bold;
      }


      .Jaaroverzicht {
            COLOR: #000000;
            FONT-SIZE:10px;
            FONT-FAMILY: Verdana;
      }

/*================ Eind agenda ===================*/
.rekenmachine {
        width:          310px;
        height:         190px;
        position:       absolute;
        top:            100px;
        left:           200px;
        z-index:        10px;
}    

.sitemap {
        width:          300px;
        height:         400px;
        position:       absolute;
        top:            20px;
        right:           0px;
        z-index:        11px;
}

/*================calc==========================*/
.regelCalc {
        border-top:1px solid #4682B4;
        border-bottom:1px solid #4682B4;
        border-left:1px solid #4682B4;
        border-right:1px solid #4682B4;
        width:170px;
}

.buttoncalc {
	background: #310152;
        color:#FFFFFF;
	WIDTH: 30px;
        HEIGHT: 21px;
        font-size:7pt;
}
/*================ Eind calc ===================*/

/*================Ajax suggestselection==========*/
.suggest_link {
        background-color: #FFFFFF;
        padding: 2px 6px 2px 6px;
}
 
 .suggest_link_over {
        background-color: #33075B;
        color:            #FFFFFF;
        padding: 2px 6px 2px 6px;
}

#search_suggest {
        position: absolute;
        background-color: #FFFFFF;
        text-align: left;
        border: 1px solid #000000;
}

.selectionboxAjax {
        border-collapse:              collapse;
        BORDER:                       1px solid;
        BORDER-COLOR:                 #33075B;
	background:                   no-repeat scroll 0px 0px;
       	WIDTH:                        300px;
        font-size:                    8pt;
}
/*================ Eind Ajax ===================*/