body
{
    background-color: #fff;
}

.config-btn {
    background-image: url('/images/oft2/cogs.png');
    background-repeat: no-repeat;
    background-position: 110px 13px;
}

.config-btn:hover {
    background-image: url('/images/oft2/cogs_white.png');
    -webkit-transition: background 500ms ease-out;
    -moz-transition: background 500ms ease-out;
    -o-transition: background 500ms ease-out;
    -ms-transition: background 500ms ease-out;
    transition: background 500ms ease-out;
}

.char-container {
    max-width: 50%;
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.char-container canvas {
    max-width: 100% !important;
    cursor: pointer;
}

.sortable td {
  padding: 10px 5px;
}

.sortable th a {
  font-size: 13px;
}

.table-border {
    border: 1px solid transparent;
    padding: 1px;
}

.table-border:hover {
    border-top: 1px solid #fc4d08;
    border-bottom: 1px solid #fc4d08;
    padding: 0px;
}

.table-border:hover td {
    border-top: 1px solid #fc4d08;
    border-bottom: 1px solid #fc4d08;
}

.table-border:hover td:first-child {
    border-left:1px solid #fc4d08;
}

.table-border:hover td:last-child {
    border-right:1px solid #fc4d08;
}
      
#corporate_action {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-left: 236px;
  margin-top: -122px;
  padding: 20px;
  position: absolute;
  width: 144px;
  z-index: 10;
}

.oft2_main_menu
{
    background-color: #f4f4f4;
    height: 120px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 0;
    position: fixed;
    z-index: 100;
}

.oft2_second_menu
{
    background-color: #cf6331;
    height: 84px;
    width: 100%;
    position: relative;
    clear:both;
    top: 150px;
    position: fixed;
    z-index: 10;
}

.oft2_page_header
{
    background-color: #cf6331;
    color: #fff !important;
    min-height: 113px;
    margin-bottom: 50px;
    width: 100%;
    clear:both;
    z-index: 100;
    padding-bottom: 5px;
}

.oft2_page_header a, .oft2_page_header td.oft_search_block_label {
    color: #fff !important;
}

.oft2_page_header *::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #F9BA93;
}
.oft2_page_header *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #F9BA93;
    opacity:  1;
}
.oft2_page_header *::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #F9BA93;
    opacity:  1;
}
.oft2_page_header *:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #F9BA93;
}

.oft_framework_frame_content {
  float: left;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 900px;
}

.oft2_main_content_no_top
{
    background-color: transparent;
    color: #7f7466;
    margin-top: -50px;
    width: 100%;
    position: relative;
    transition: 1s;
}

.oft2_main_content
{
    background-color: transparent;
    color: #7f7466;
    margin-top: 234px;
    width: 100%;
    position: relative;
    transition: 1s;
}

.oft2_page_centering
{
    width: 1200px;
    text-align: left; 
    position: relative; 
    margin-left: auto; 
    margin-right: auto;
}

.oft_framework_frame_content .oft2_page_centering {
  width: auto;
  position: normal;
}

.oft2_logo{
    float: left;
    clear: left;
    height: 22px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.oft2_main_float_right
{
    float: right;
    clear: none;
    text-align: right;
}

/* begin search form */


.oft2_searchform
{
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
}

.oft2_searchform .oft2_search_text
{
    position: absolute;
    right: -300px;
    z-index: 0;
    margin: 12px;
    transition: 1s;

    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cf6331;
    font-size: 13px;
    color: grey;
    outline-offset: 0px;
    outline: none;
}

.oft2_searchform:hover .oft2_search_text, .oft2_searchform .oft2_search_text:focus
{
    right: 50px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.oft2_searchform .oft2_search_submit
{
    background: #f4f4f4 url("../images/oft2/loop.png") center center no-repeat;
    border: none;
    z-index: 1;
    margin-left: 200px;
    position: relative;
    width: 43px;
    height: 43px;
}

.oft2_searchform::after
{
    display: inline-block;
    content: "";
    background-color: transparent;
    box-shadow:-1px 0px 10px grey; 
    width: 5px;
    height: 16px;
    position: absolute;
    z-index: 0;
    right:37px;
    top: 13px;
}

/* End search form */

/* USER MENU */
.back_button a {
  background: #f2f2f2 url(../images/oft2/icon_arrow_orange_left.png) no-repeat 15px 8px;
  color: #cf6331;
  padding: 10px;
  display: block;
  width: 100px;
}
.back_button a span {
    margin-left: 25px;
}

.oft2_user_menu
{
    display: block;
    float: right;
    list-style-type: none;
    list-style-position: inside;
}

.oft2_user_menu > li
{
    position: relative;
}

.oft2_user_menu > li > .oft2_menu_label
{
    padding: 11px;
    border: 1px #cf6331 solid;
    color: #cf6331;
}

.oft2_user_menu:hover > li > .oft2_menu_label {
    background-color: #cf6331;
    color: #fff;
}

.oft2_user_menu > li > .oft2_menu_label::after
{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -3px;
    background: transparent url("../images/oft2/icon_arrow_orange_down.png") no-repeat;
}

.oft2_user_menu:hover > li > .oft2_menu_label::after
{
    background-image: url("../images/oft2/icon_arrow_orange_up_white.png");
    background-repeat: no-repeat;
}


.oft2_user_menu ul
{
    display: none;
    list-style-type: none;
    list-style-position: inside;

    /* wijziging onder voorbehoud - margin-top:10px */
    margin-top: 11px;
    padding: 20px 25px 10px 25px;
    background-color: #ffffff;
    border: 1px #ebebeb solid;
    z-index: 10;
    position: absolute;
    color: #cdcdcd;
    width: 265px;
    text-align: left;
}

.oft2_user_menu ul li
{
    margin-bottom: 10px;
}

.oft2_user_menu ul li a
{
    color: grey;
}

.oft2_user_menu ul li a:hover
{
    font-weight: bold;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.oft2_user_menu li:hover ul{
    display: block;
}

/* END USER MENU */

/* MAIN MENU */
.oft2_menu_left, .oft2_menu_right
{
    list-style-type: none;
    list-style-position: inside;   
    padding: 0;
    margin: 35px 0 15px 0;
    position: relative;
}

.oft2_menu_right {
    margin-top: 15px;
}

.oft2_menu_right > li > a{
    display: inline-block;
}

.oft2_menu_left > li > a, .oft2_menu_left > li > .oft2_menu_label, .oft2_menu_right > li > a, .oft2_menu_right > li > .oft2_menu_label
{
    color: grey;
    padding: 15px 30px 15px 30px;
}


.oft2_menu_left > li:hover > a, .oft2_menu_left > li:hover > .oft2_menu_label, .oft2_menu_right > li:hover > a, .oft2_menu_right > li:hover > .oft2_menu_label
{
    color: white;
    background-color: #ba381d;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.oft2_menu_left > li.active > a, .oft2_menu_left > li.active > .oft2_menu_label, .oft2_menu_right > li.active > a, .oft2_menu_right > li.active > .oft2_menu_label
{
    color: white;
    background-color: #cf6331;
}

.oft2_menu_left > li, .oft2_menu_right > li
{
    display: inline-block;
    position: relative;
}

.oft2_menu_left ul, .oft2_menu_right ul
{
    display: none;
    list-style-type: none;
    list-style-position: inside;

    margin-top: 15px;
    padding: 20px 25px 10px 25px;
    background-color: #ffffff;
    border: 1px #ebebeb solid;
    z-index: 10;
    position: absolute;
    color: #cdcdcd;
    left: 0;
    width: 265px;
}

.oft2_menu_left ul li, .oft2_menu_right ul li
{
    margin-bottom: 10px;
}

.oft2_menu_left ul li a, .oft2_menu_right ul li a
{
    color: grey;
}

.oft2_menu_left ul li a:hover, .oft2_menu_right ul li a:hover
{
    font-weight: bold;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.oft2_menu_left li:hover ul, .oft2_menu_right li:hover ul{
    display: block;
}

.oft2_menu_left{
    float: left;
    clear: left;
}

.oft2_menu_right{
    float: right;
    clear: right;
}

/* END MAIN MENU */


/* SECONDAIRY MENU */
.oft2_second_menu::before
{
    display: block;
    content: "";
    height: 43px;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
}

.oft2_second_menu .title
{
    color: white;
    font-size: 20pt;
    font-weight: normal;
    padding-top: 25px;
    margin: 0;
}

.oft2_submenu_ul
{
    display: block;
    float: right;
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    background-color: #cf6331;
    padding: 0;
    height: 43px;
}

.oft2_submenu_ul li{
    display: inline;
    position: relative;
}

.oft2_submenu_ul a{
    display: inline-block;
    position: relative;
    padding: 14px 15px 13px 15px;
    color: #f4f4f4;
    background-color: #c84d26;
    /*background-color: white;*/
}

.oft2_submenu_ul a.active,
.oft2_submenu_ul a:hover{
    color: #ffffff;
    background-color: #cf6331;
    padding: 8px 15px;
    border-bottom: 1px #ba381d solid;

    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

/* END SECONDAIRY MENU */

/* SELECT items in page header */
#contentTable_entities {
    overflow-x: auto;
}
.oft2_page_centering {
    overflow: hidden;
    max-width: 1350px;
    width: 100%;
}
.oft2_page_header .oft2_combo_box
{
    float: left;
    display: inline-block;
    width: 175px;
    border: 1px white solid;
    margin: 0 15px 15px 0;
}

.oft2_page_header .oft2_combo_box:last-child {
    margin-right: 0;
}

.oft2_page_header .oft2_combo_box label{
    display: block;
    padding: 12px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.oft2_page_header .oft2_combo_box select, .oft2_page_header .oft2_combo_box input{

    padding: 12px;
    background-color: white;
    border-radius: 0px;
    font-size: 12px;
    border: none;
    width: 100%;
    height: 45px;
    color: #cf6331;
    outline: none;
}

.oft2_combo_box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url('/images/oft2/dropdown.png');
    background-position: right 5px center;
    background-repeat: no-repeat;
}

.oft2_page_header .oft2_combo_box select option{
    padding:10px;
    color: black;
}

/* END SELECT */

/* BEGIN INVOERSCHERM */

.oft2_invoerscherm
{
    float: right;
}
/*END INVOERSCHERM */

/* BEGIN POPUP */

.oft2_popup
{
    position: absolute;
    display: none;
    min-height: 100%;
    top: 0px;
    right:0;
    width: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 84px;
    z-index: 9;
    
}

.oft2_popup #invoerschermContent
{
    overflow: visible !important;
    height: auto !important;
}

.oft2_main_content.oft2_popup_open
{
 margin-left: -700px;
 padding-right: 700px;   
 transition: 1s  margin-left;
}

.oft2_main_content_no_top.oft2_popup_open
{
 margin-left: -700px;
 padding-right: 700px;   
 transition: 1s  margin-left;
}

.oft2_popup_open .oft2_popup
{
    display: block;   
    width: 700px;
    transition: 1s width;
}

.oft2_popup_exit
{
    background-color: #f4f4f4;
    color: #cf6331;
    position: absolute;
    left:0;
    top:0;
    padding: 15px 15px 15px 50px;
    margin: 0;
    cursor: pointer;
    background-image: url("../images/oft2/icon_cross.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    display: inline-block;
}

/* END POPUP */

/* MENU LEFT IN PAGE */

.oft2_inline_menu {
    margin: 60px 0 0 0;
    padding: 0;
    width: 180px;
    display: block;

}

.oft2_inline_menu_section
{
    font-size: 12px;
    position: relative;
}

.oft2_inline_menu_section ul
{
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.oft2_inline_menu_section li
{
    padding: 0;
    margin: 14px 14px 7px 14px;
}

.oft2_inline_menu_section  li a
{
    color: #a0a0a0;
    font-size: 12px;
}

.oft2_inline_menu_section  li a:hover
{
    font-weight: bold;

    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.oft2_inline_menu_section > a
{
    color: #a0a0a0;
    font-size: 12px;

    padding: 0;
    margin: 14px ;

    width: 100%;
    display: block;

    background-image: url("../images/oft2/icon_arrow_orange_up_grey.png");
    background-repeat: no-repeat;
    background-position: right center;
    height: 18px;
}

.oft2_inline_menu_section.oft2_inline_menu_section_selected
{
    border: #cf6331 1px solid;
    margin-bottom: 14px;
    padding: 14px;
    width: 180px;
}

.oft2_inline_menu_section.oft2_inline_menu_section_selected > a
{
    background-color: #cf6331;
    
    padding: 14px;

    margin: -14px -14px 10px -14px;

    width: 100%;
    display: block;
    color: white;
    background-position: calc(100% - 14px) center;
    background-image: url("../images/oft2/icon_arrow_orange_down_white.png");
}


.oft2_inline_menu_section.oft2_inline_menu_section_selected.oft2_inline_menu_no_items > a
{
    background-image: url("../images/oft2/icon_arrow_orange_right_white.png");
    margin: -14px;
}


.oft2_inline_menu_item_selected a
{
    font-weight: bold;
    color: #cf6331 !important;
}
/* Newlayout menu's */


/* Import Entities table */
table.imported-entities {
    font-size: 14px;
}

/* Error message */

.error_message {
    border: 1px solid #cf6331;
    color: #cf6331;
    width: auto;
    padding: 10px 20px;

    margin-bottom: 10px;
}

.error_message_text {
    padding: 5px 10px;
    font-style: italic;
}


/* Select2 theme styling */
.select2-container.select2-container--default {z-index: 1;}
.select2-container.select2-container--default .select2-selection--single {border-radius: 0;border: none;height: 40px;background: #F4F4F4;}
.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 40px;padding-left: 10px;}
.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {height: 36px;width: 36px;top: 2px;right: 2px;background: #F4F4F4;}
.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow b {display: none;}
.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow::after {content: "";background: url('/images/oft2/icon_arrow_orange_down.png') center no-repeat;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {background: url('/images/oft2/icon_arrow_orange_up.png') center no-repeat;}
.select2-container.select2-container--open .select2-dropdown {position: static;}
.select2-container.select2-container--open .select2-dropdown.select2-dropdown--below,
.select2-container.select2-container--open .select2-dropdown.select2-dropdown--above {border: none;border-radius: 0;}
.select2-container.select2-container--open .select2-dropdown.select2-dropdown--above {margin-top: 285px;}
.select2-container.select2-container--open .select2-search--dropdown {background: #f4f4f4;}
.select2-container.select2-container--open .select2-search--dropdown .select2-search__field {height: 36px;outline: none;}
.select2-container.select2-container--open .select2-results {border: none;}
.select2-container.select2-container--open .select2-results > .select2-results__options {border: none;}
.select2-container.select2-container--open .select2-results__option {color: #ff6300;background: #f4f4f4;padding: 15px;border: none;}
.select2-container.select2-container--open .select2-results__option--highlighted[aria-selected=true],
.select2-container.select2-container--open .select2-results__option--highlighted[aria-selected] {color: #ff6300;background: #e8e8e8;}

/* Filter icons */
.filter-icon {font-size:8px;opacity:.0}
.filter-icon.active {opacity:.8}
.cursor:hover > .filter-icon,
a:hover > .filter-icon,
.filter-icon:hover {opacity:1}

/* General helpers */
.hidden {display: none !important;}
.show {display: initial !important;}


/*ADDED BY RICHARD*/

body .select2-container--default .select2-selection--multiple,
body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    border-radius: 0;
}

body .select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
}

.biggerFontSize,
.biggerFontSize p{
    font-size: 15px;
}

.max-width-900 {
    max-width:900px;
    width: 900px !important;
}

.max-height-1200 {
    max-height:1200px;
    height: 1200px !important;
}

.special-color-orange {
    color: white;
    background-color: #cf6331;
}

.color-black {
    color: black !important;
}