html {
  height:100%;
}

body {
  margin:0px;
  padding:0px;
  color:#000000;
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  background:#ffffff;
  overflow:auto;
  height:100%;
  SCROLLBAR-SHADOW-color:#061a31;
  SCROLLBAR-3DLIGHT-color:#061a31;
  SCROLLBAR-ARROW-color:#061a31;
  SCROLLBAR-TRACK-color:#f0f0f0;
  SCROLLBAR-DARKSHADOW-color:#FFFFFF;
  SCROLLBAR-BASE-color:#ffffff;
}


.fixed_headers {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  color:#7f7466;
  font-size:13px;
  font-family: 'Roboto', sans-serif;
}
.fixed_headers th {
  text-decoration: underline;

  border-top:none;
  border-bottom:0px solid;
  color:#7f7466;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  height:25px;
  padding-right:30px;
  padding-bottom:30px;
  cursor:pointer;
  font-weight: normal;

}
.fixed_headers th a{
  color:#7f7466;
  font-size: 20px;
  font-weight: normal;
}

.fixed_headers th,
.fixed_headers td {
  padding: 7px 5px;
  text-align: left;
  text-decoration: none;
}
.fixed_headers td {
  padding-right: auto;
}

.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 20px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 20px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  width: 350px;
}
.fixed_headers thead {
  color: #FDFDFD;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
  line-height: 16px;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 300px;
}
.fixed_headers tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

#achtergrond {
  padding:5px;
  z-index:9;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0.7;
  background:#000000;
  filter:alpha(opacity=70);
}
.button, .cancelbutton {
  color:#c84d26 !important;
  background-color: #fff;
  font-size:12px;
  border-collapse:collapse;
  border:1px solid;
  border-color:#c84d26;
  font-family: 'Roboto', sans-serif;
  padding:7px 10px 7px 7px;
  text-align:center;
  cursor:pointer;
  margin-right: 15px;
}

.button:hover, .cancelbutton:hover {
  color:#fff !important;
  background-color: #c84d26;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.buttondelete {
  color:#df3821 !important;
  background-color:#ffffff;
  height:19px;
  width:100px;
  font-size:12px;
  border-collapse:collapse;
  border:1px solid;
  -moz-border-radius:5px;
  border-radius:5px;
  border-color:#df3821;
  font-family: 'Roboto', sans-serif;
  padding:0px 4px 2px 4px;
  margin:1px;
  text-align:center;
  cursor:pointer;
}
.buttonKalendar {
  background:url(../images/Calendar_scheduleHS.png) no-repeat scroll 0px 0px;
  width:16px;
  height:16px;
  padding:0px;
  margin-bottom:0px;
  border:none;
}
.button2 {
  color:#ffffff !important;
  background-color:#206bb4;
  height:19px;
  font-size:12px;
  border-collapse:collapse;
  border:1px solid;
  -moz-border-radius:5px;
  border-radius:5px;
  border-color:#206bb4;
  font-family: 'Roboto', sans-serif;
  padding:0px 4px 2px 4px;
  margin:1px;
  text-align:center;
  cursor:pointer;
}
.verplicht {
  border:1px solid #cf6331 !important;
  background:none repeat scroll 0 0 #cac9d7 !important;
}

.date-picker {
    background: #ffffff url(../images/calendar_13.png) no-repeat scroll top right !important;
    padding-right: 20px;
}

.field {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background-color:#F4F4F4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:300px;
}

textarea.field {
 height:80px;
 padding: 5px;
 width:300px;
 resize: none;
}

.button-red {
    display: inline-block;
    position: relative;
    padding: 10px;
    color: #f4f4f4;
    background-color: #ba381d;
    border: 0px;
}

.button-red:hover {
    color: #ffffff;
    background-color: #cf6331;
    padding: 10px 10px 9px 10px;
    border-bottom: 1px #ba381d solid;

    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.fieldHalf {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width: 150px;
  margin-left: 10px;
}
.file {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:300px;
}
.textbox {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  width:300px;
  height:100px;
  font-size:14px;
  padding: 5px;
}
.textbox250 {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  width:250px;
  height:100px;
  font-size:14px;
  padding: 5px;
}
.textboxGroot {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  width:100%;
  height:100px;
  font-size:14px;
  padding: 5px;
}
.field3 {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:100px;
}
.field4 {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:75px;
}
.field5 {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:50px;
}
.field6 {
  border-collapse:collapse;
  border:#efebe2 2px solid;
  color: #000;
  background:#f9f8f4;
  height:30px;
  font-size:14px;
  padding: 5px;
  width:40px;
}
.contentclass {
  height:100%;
  width:100%;
  overflow:auto;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}
.tabel {
  background:#ffffff;
  color:#353535;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  border-collapse:collapse;
}
.tabel th {
  border-top:none;
  border-bottom:1px solid #cccccc;
  color:#7f7466;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  height:25px;
  font-weight: normal;
}
.tabel td {
  padding-left:7px;
  padding-right:7px;
}
/*a:visited {
  color:#000000;
  text-decoration:none;
}*/
a:active {
  color:#000000;
  text-decoration:none;
}
a:hover {
  color:#FD8807;
  text-decoration:none;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
a {
  color:#000000;
  text-decoration:none;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size:12px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin:15px 0 20px 0;
  font-size: 22px;
  color: #000;
}

h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 10px 0;
}
h3 {
  color: #87888A;
  font-size:16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin:15px 0 0 0;
}

h2.border-bottom {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:15px 0 20px 0;
    font-size: 16px;
    color: #cf6331;
    padding-bottom: 10px;
    border-bottom: 1px solid #cf6331;
}

.oft_framework_frame_content  h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin:15px 0 20px 0;
  font-size: 16px;
  color: #cf6331;
  padding-bottom: 10px;
  border-bottom: 1px solid #cf6331;
}

h4 {
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  margin:0px;
}
h5 {
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  margin:0px;
}
h6 {
  FONT-SIZE:10pt;
  font-family: 'Roboto', sans-serif;
  margin:0px;
}
.suggest_link {
background-color:#FFFFFF;
}
.suggest_link_over {
background-color:#353535;
color:#FFFFFF;
}
#search_suggest {
position:absolute;
background-color:#FFFFFF;
text-align:left;
border:1px solid #000000;
}
.selectionboxAjax {
border-collapse:collapse;
border:1px solid;
border-color:#cccccc;
background:no-repeat scroll 0px 0px;
width:300px;
font-size:12px;
height:300px;
overflow:auto;
}
.selectionboxAjaxproject {
z-index:10;
position:absolute;
left:100;
margin:20px;
border-collapse:collapse;
border:1px solid;
border-color:#cccccc;
background:#FFFFFF no-repeat scroll 0px 0px;
width:800px;
font-size:12px;
height:300px;
overflow:auto;
}
.invoerscherm {
text-align:left;
z-index:10;
position:absolute;
left:15px;
padding:5px;
margin:0px;
border-collapse:collapse;
border:1px solid;
border-color:#cccccc;
background:#FFFFFF no-repeat scroll 0px 0px;
width:95%;
font-size:12px;
height:400px;
}
.invoerschermContent {
width:100%;
height:100%;
overflow:auto;
}
.left {
float:left;
}
.right {
float:right;
}
form {
margin:0px;
}
.ajaxBalkSluiten {
width:100%;
height:22px;
background:#061a31;
text-align:right;
color:#ffffff;
font-size:15px;
padding:2px;
}
.cursor {
cursor:pointer;
}

.sortable th {
  border-top:none;
  border-bottom:0px solid;
  color:#7f7466;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  height:25px;
  padding-right:30px;
  padding-bottom:30px;
  cursor:pointer;
  font-weight: normal;
}
.sortable td {
  padding-right: 30px;
}

.sortable th a {
  color:#7f7466;
  font-size: 20px;
  font-weight: normal;
}

.sortable {
  color:#7f7466;
  font-size:13px;
  font-family: 'Roboto', sans-serif;
  border-collapse:collapse;
}

.rtable th {
    border-top:none;
    border-bottom:0px solid;
    color:#7f7466;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    text-align:left;
    height:25px;
    padding-right:30px;
    cursor:pointer;
}
.rtable td {
    padding-right: 30px;
}

.rtable th a {
    color:#7f7466;
    font-size: 13px;
    font-weight: normal;
}

.rtable {
    color:#000000;
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    border-collapse:collapse;
}

.oft_framework_basic h1 {
  FONT-SIZE:18px;
  font-family: 'Roboto', sans-serif;
  margin:15px 0 0 0;
}

.oft_framework_basic h2 {
  color: #87888a;
  font-size:14pt;
  font-family: 'Roboto', sans-serif;
  margin:15px 0 0 0;
}

.oft_framework_menu h2 {
  color: #87888A;
  font-size:20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin:15px 0 0 0;
}

.menu_nivo1_item {
  padding-right: 20px;
  font-size: 13px;
  padding-bottom: 3px;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}

.menu_nivo1_item_right {
  padding-left: 20px;
  font-size: 13px;
  padding-bottom: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  cursor:pointer;
}


#invoerscherm h2 {
  margin:15px 0 20px 7px;
}

.oft_label {
  color: #87888a;
  font-size: 14px;
}

.oft_framework_basic {
  width: 950px;
  height: 585px;
  background: url('../images/oft/oft_achtergrond.png') no-repeat top left;
  padding: 10px 30px;
  margin-top: 20px;
  clear: both;
  display: block;
}

.oft_framework_basic_content {
  width: 900px;
  height: 560px;
  overflow: auto;
}

.oft_framework_basic h1 {
  margin: 15px 0 20px;
  font-family: 'Roboto', sans-serif;  
}

.oft_framework_menu {
  width: 950px;
  height: 585px;
  background: url('../images/oft/oft_achtergrond_menu.png') no-repeat top left;
  /* padding: 10px 10px; */
  padding: 3px 10px 10px 0;
  margin-top: 20px;
  clear: both;
  display: block;
}

.oft_contentFrame_menu {
    /* margin-left:150px; */
    margin-left:160px;
    margin-top:7px;
    position:absolute;
    top:0px;
    left:0px;
  width: 698px;
  height: 545px;
  padding-left: 50px;
  overflow: auto;
  font-size: 11px;
}

.oft_back_button {
  width: 165px;
  float: left;
  display: block;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 20px;
}

.oft_titel_menu {
  width: 765px;
  float: right;
  display: block;
}

h1.oft_titel_menu {
  margin: 20px 0 10px 0;
}

.oft_submenuitems {
  float: right;
  padding-right: 30px;
  display: block;
  text-align: right;
  clear: both;
  width: 100%;
}

.oft_submenuitems-new {
    float: right;
    padding-right: 30px;
    font-size: 12px;
    font-weight: normal;
}

.oft_submenuitems a, .oft_submenuitems-new a {
  color: #417faa;
  text-decoration: underline;
}

.oft_submenuitems a:visited {
  color: #417faa;
  text-decoration: underline;
}

.oft_submenuitems a:active {
  color: #417faa;
  text-decoration: underline;
}

.oft_framework_menu_n2 {
    position:absolute;
    top:0px;
    left:0px;
  width: 150px;
  height: 545px;
  float: left;
  margin: 0;
  padding: 0;
}

.oft_framework_menu_n2 li {
  list-style: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.oft_framework_menu li a {
  color: #515151;
  FONT-SIZE:13px;
  font-family: 'Roboto', sans-serif;
}

.oft_invoerscherm {
  text-align:left;
  z-index:10;
  position:absolute;
  left:50%;
  top: 50%;
  margin-left:-435px;
  margin-right: auto;
  margin-top:-200px;
  margin-bottom:0px;
  padding:25px;
  border-collapse:collapse;
  border:1px solid;
  border-color:#cccccc;
  background:#FFFFFF no-repeat scroll 0px 0px;
  width:870px;
  height:400px;
  font-size:12px;
}
.oft_invoerschermContent {
  width:100%;
  height:400px;
  overflow:auto;
}
.oft_content_tabel td {
  padding: 10px 10px 10px 0;
}

.oft_tabel {
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  border-collapse:collapse;
}
.oft_tabel th {
  border-top:none;
  border-bottom:1px solid #cccccc;
  color:#000000;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  height:25px;
}

.orangefield_tabel {
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  border-collapse:collapse;
}
.orangefield_tabel th {
  border-top:none;
  border-bottom:1px solid #808080;
  color:#808080;
  font-weight: normal;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  height:25px;
  padding: 5px 10px;
}

.orangefield_tabel td {
  padding: 5px 10px;
  color: #000;
}

.opslagbuttons {
  /*position: absolute;*/
  margin-top: 20px;
  bottom: 5px;
  right: 25px;
}

.clr_orange {
  color: #f29a13;
}

.nivo2_lijn {
  margin-top: 10px;
  margin-bottom: -10px !important;
  margin-left: -10px !important;
  display: block;
  width: 198px;
  background: url('../images/oft/nivo2_lijn.png') no-repeat top left;
}

.oft_contentFrame_menu .opslagbuttons {
  position: inherit;
}

.loggedin {
  width: 945px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}


/* file input */
input.file {
  position: absolute;
  text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.uploadVeld .nepVeld {
  background: url("../images/button_select.png") no-repeat right;
}

/* Newlayout menu's */

.oft_menu2_newlayout {
    margin:60px 0 0 0;
    padding:0;
}

.oft_menu2_newlayout li {
    width:152px;
    list-style: none;
}
.oft_menu2_newlayout li:nth-child( 1 ) {
    padding-top:10px;
}

.oft_menu2_newlayout_item {
    padding:5px 0px 5px 30px;
}

.oft_menu2_newlayout_item_selected {
  color: #cf6331;
  font-weight: bold;
  padding:5px 0px 5px 30px;
}

.oft_menu2_newlayout_item_section {
    padding:10px 0px 10px 30px;
    background: url('../images/oft2/icon_arrow_orange_down.png') 155px 9px no-repeat;
}

.oft_menu2_newlayout_item_section a {
    color:#95897b;
}

.oft_menu2_newlayout_item_selected_section {
    padding:10px 0px 10px 30px;
    font-weight: bold;
    background:#cf6331 url('../images/oft2/icon_arrow_white_right.png') 155px 9px no-repeat;
}

.oft_menu2_newlayout_item_selected_section a {
    color: #fff;
}

.oft_menu2_newlayout_section_selected {
  border: #cf6331 1px solid;
  margin-bottom: 10px;
}

.oft_menu2_newlayout_section {
  margin-bottom: 10px;
}

/* Search block */
.oft_search_block_vert {
    background-image:url("../images/oft/zoeklijn-vert.png");
    background-position:center center;
    background-repeat:repeat-y;
    width: 20px;
}

.oft_search_block_hori {
    height:20px;
    padding-top: 2px;
}

.oft_search_block_hoek {
    background-image:url("../images/oft/zoeklijn-hoek.png");
    background-position:center center;
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}

.oft_search_block_button {
    color:#ffffff;
    background:none;
    border-style:solid;
    border-width:1px;
    border-color:#fff;
    padding:0 20px 0 10px;
    margin:0 0 0 30px;
    height:30px;
}

.oft_search_block_label {
    width:95px;
    padding:0 0 0 5px;
}

.oft_search_block_input {
    width:200px;
}