BODY {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	COLOR: #000;
        FONT-FAMILY: Verdana;
        font-size: 11px;
        BACKGROUND: #fafafa no-repeat scroll 0px 0px;
        overflow: auto;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
        SCROLLBAR-ARROW-COLOR: #cdcfd1;
        SCROLLBAR-TRACK-COLOR: #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
        SCROLLBAR-BASE-COLOR: #cdcfd1;
}

.clear {
        clear:                                 both;
}

.cell { 
        height: 20px;
        width:  100px;
        float: left;
}

td {
        font-size:                    11px;
        font-weight:                  bold;
        padding-left:                 20px;
}

/* Login */
.loginscherm {
        padding:                      0 0 0 0;
        width:                        275px;
        height:                       251px;
        border-collapse:              collapse;
        BORDER:                       0px solid;
        BORDER-COLOR:                 #236277;
        font-size:                    16pt;
        FONT-FAMILY:                  Verdana;
        padding:                      0 0 0 9px;

}
.loginRegel {
  background-color: #CF6331;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #fff;
  padding:                      0 0 0 0;
  margin:                       10px 0px;
  height:                       25px;
  WIDTH:                        247px;
}

.loginButton {
  background:                   transparent url('../images/oft2/icon_arrow_white_right.png') no-repeat scroll left 3px;
  border-collapse:              collapse;
  BORDER:                       none;
  COLOR:                        #ffffff;
  font-weight:                  bold;
  font-size:                    11px;
  height:                       22px;
  width:                        80px;
  cursor:                       pointer;
  padding:                      0 0 0 0; 
  margin:                       10px 30px 0 0;
  float:                        left;
}

#loginButtonDiv {
  margin-top: 20px;
}

.HH1 {
	FONT-SIZE:                    14pt;
        FONT-FAMILY:                  Verdana;
        COLOR:                        #c64934;
}

/* Verschilende links */
/*A:visited {
	COLOR: #310152;
	TEXT-DECORATION: none;
}*/
A:active {
	COLOR: #310152;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #FFB961;
        font-weight: bold;
	TEXT-DECORATION: none;
}
A {
	COLOR: #310152;
	TEXT-DECORATION: none;
}

#blocks {
  top: 0;
}

#side_left {
  background: transparent url('../images/oft2/bg_office.png') no-repeat scroll right 0px;
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

#side_left_content {
  margin-right: 75px;
  margin-top: 260px;
  position: initial;
}

#welkomsttekst {
  display: block;
  color: #000;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#side_right {
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
  background-color: #CF6331;
}

#side_right_content {
  margin-left: 75px;
  margin-top: 300px;
}

#login_text {
  color: #fff;
  display: block;
  font-size: 20px;
}

#content_index {
  color: #fff;
}

#error {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
